<h1 class="pb-2 mt-8 text-center font-medium text-2xl" >Agregar Post </h1>

<div class="py-2">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="max-w-sm mx-auto">
      <div class="mb-5">
        <label for="title" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Titulo</label>
        <input type="title" id="title" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Mi post" formControlName="title" required />
        <div *ngIf="!getProperty('title')?.valid">
          <p *ngIf="getProperty('title')?.errors?.['required']" class="text-red-600 text-sm">El campo no puede ser vacío</p>
        </div>
      </div>
      
      <div class="mb-5">
        <label for="date" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Fecha de creación</label>
        <input type="date" id="date" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" formControlName="date" required />
        <div *ngIf="!getProperty('date')?.valid">
          <p *ngIf="getProperty('date')?.errors?.['required']" class="text-red-600 text-sm">El campo no puede ser vacío</p>
        </div>
      </div>


      <div class="mb-10">
        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="file_input">Upload file</label>
        <input class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-orange-700 dark:border-gray-600 dark:placeholder-gray-400" id="file_input" type="file">
      </div>

      <button [disabled]="!allPropertiesAreValid()" (click)="onSubmit()" type="submit" class="text-white bg-orange-700 hover:bg-orange-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 w-full">Iniciar Sesión</button>
</form>
</div>
